.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: aqua;
    border-radius: 6px;
    border: unset;
  }
  
  p {
    margin-top: 10px;
    font-weight: bold;
  }